/* PC、スマホ共通スタイル */
body {
  margin: 0 auto 0 auto;
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
 }
 
 /* ヘッダー */
 header {
   display: flex;
   justify-content: space-between;
 }

/* メイン画像 */
#main-visual img{
 width: 100%;
 heigt: auto;
 display: block;
}

/* ナビゲーションのレイアウト */
  #nav-pc {
    font-size: 14px;
  }
  
  #nav-pc ul {
    display: flex;
    padding-left: 0;
  }
  
  #nav-pc li　 {
    list-style: none;
  }
  
  /* ナビゲーションのリンクの装飾設定 */
  #nav-pc a {
    text-decoration: none;
    margin-left: 20px;
    color: #0d0d0d;
  }
  
  #nav-pc a:hover {
    text-decoration: underline;
  }

/*====================
   スマートフォン用のスタイル
  =====================*/
  @media screen and (max-width: 767px) {
    /* PC用ナビゲーション非表示 */
    #nav-pc {
      display: none;
    }
  
    /* ハンバーガーメニュー */
    #menu-sp {
      display: block;
      background-color: transparent;
      float: right;
      padding: 0;
      border: none;
    }
  
    /* スマホ用ナビゲーションの表示切替*/
    /* 初期状態、レイアウトと非表示設定 */
    #nav-sp {
      background-color: #ce933e;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: none;
      z-index: 100;
    }
    }